.field
  = f.label :user_name
  %br/
  = f.text_field :user_name
.field
  = f.label :address
  %br/
  = f.text_field :address
.field
  = f.label :email
  %br/
  = f.text_field :email
.actions
  = f.submit "Submit"

