= render 'nav_bar'

.container
	.row
		.col-md-10
			%h1 Thanks for registering!
			%h3 Now see how you can help out a farmer
	.row
	= button_to 'See Requests', posts_path, method: 'get', :class => "btn btn-primary"
	.row
		.col-md-10
			%table.table.striped
				%thead
					%tr
						%th User_Name
						%th Address
						%th Email
						%th{colspan: "3"}
				%tbody
					- @users.each do |user|
						%tr
							%td= user.user_name
							%td= user.address
							%td= user.email
							%td= link_to 'Show', user, :class => "btn btn-default"
							%td= link_to 'Edit', edit_user_path(user), :class => "btn btn-warning"
							%td= link_to 'Destroy', user, method: :delete, :class => "btn btn-danger"