= render 'nav_bar'
%table.table.striped
	%thead
		%tr
			%th Name
			%th Description
			%th Price
			%th{colspan: "3"}
	%tbody
		- @gifts.each do |gift|
			%tr
				%td= gift.name
				%td= gift.description
				%td= gift.price
				%td.button.btn.btn-default= link_to 'Show', gift


				%td.btn.btn-default= link_to 'Show', gift
				%td.btn.btn-warning= link_to 'Edit', edit_gift_path(gift)
				%td.btn.btn-danger= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' }
				%button.btn.btn-default{type: "button"} Default
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>