.field
  = f.label :title
  %br/
  = f.text_field :title
.field
  = f.label :message
  %br/
  = f.text_field :message
.field
  = f.label :due_date
  %br/
  = f.date_field :due_date
.field
  = f.label :user_id
  %br
  =f.select :user_id, User.all.collect {|user| [ user.user_name, user.id ]}
.field
  = f.label :gift_id
  %br
  =f.select :gift_id, Gift.all.collect {|gift| [ gift.name, gift.id ]}
  %br
  %br
.actions
  = f.submit "Submit"