.field
  = f.label :title
  %br/
  = f.text_field :title
.field
  = f.label :message
  %br/
  = f.text_field :message
.field
  = f.label :due_date
  %br/
  = f.date_select :due_date
.field
  = f.label :asker_id
  %br
  =f.text_field :asker_id
  %br
  .field
  = f.label :giver_id
  %br
  =f.text_field :giver_id
  %br
  .field
  = f.label :gift_id
  %br
  =f.text_field :gift_id
  %br
.actions
  = f.submit "Submit"