= render 'nav_bar'
.container
	.row
		.col-md-2
			= button_to 'Add New Post', new_post_path, method: 'get', :class => "btn btn-primary"
			%br
	.row
		.col-md-10
			%table.table.striped
				%thead
					%tr
						%th Title
						%th Message
						%th Due Date
						%th Given?
						%th{colspan: "4"}
				%tbody
					- @posts.each do |post|
						%tr
							%td= post.title
							%td= post.message
							%td= post.due_date
							%td
								- if post.is_given
									Gift Given
								-	else
									Gift Not Given 
							%td= link_to 'Show', post, :class => "btn btn-default"
							%td= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning"
							%td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"